<div
  class="p-20 pl-32 pr-32 flex flex-col bg-gray-100 max-500:p-2 max-500:mt-10 max-768:p-4 max-768:mt-8"
>
  <div class="p-3 flex flex-col justify-start">
    <a
      class="text-gray-500 text-2xl font-semibold max-500:text-xl max-768:text-xl max-1200:text-xl"
      >Contact</a
    >
    <p
      class="text-6xl font-bold pt-4 max-500:text-3xl pb-20 max-768:text-3xl max-1200:text-3xl"
    >
      Reach out to me any way you want
    </p>
    <div
      class="flex justify-start mb-10 text-base font-medium text-center text-gray-500 max-500:p-10 max-768:p-0 max-1200:p-0"
    >
      Fill in the form on the left with your information and I will get back to
      you as soon as possible. Alternatively, you can find me on the platforms
      listed below.
    </div>
  </div>
  <div
    class="flex flex-row gap-5 px-[200px] max-500:p-0 max-500:flex-col max-768:flex-col max-768:p-0 max-1200:flex-col max-1200:p-0"
  >
    <div class="bg-white rounded-3xl p-5">
      <form [formGroup]="form" (submit)="send()" novalidate>
        <div class="flex gap-3 mb-5">
          <div class="w-1/2">
            <label for="name" style="display: none"></label>
            <input
              formControlName="from_name"
              type="text"
              id="name"
              name="from_name"
              class="mt-1 p-2 block w-full rounded-md border-2 border-[#e5e7eb] bg-gray-100"
              placeholder="Your name"
              required
              ng-model="myName"
            />
            <!-- <div
              *ngIf="
                form.get('from_name')?.invalid &&
                (form.get('from_name')?.dirty || form.get('from_name')?.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="form.get('from_name')?.errors?.['required']">
                Name is required.
              </div>
              <div *ngIf="form.value('from_name')?.errors?.['minlength']">
                Name must be at least 4 characters long.
              </div>
            </div> -->
          </div>

          <div class="w-1/2">
            <label for="email" style="display: none"></label>
            <input
              formControlName="from_email"
              type="email"
              id="email"
              name="from_email"
              [formNoValidate]=""
              class="mt-1 p-2 block w-full rounded-md border-2 border-[#e5e7eb] bg-gray-100"
              placeholder="Your email address"
            />
          </div>
        </div>

        <div class="mb-4">
          <label for="message" style="display: none"></label>
          <textarea
            formControlName="message"
            id="message"
            name="message"
            rows="8"
            class="mt-1 p-2 block w-full rounded-md border-2 border-[#e5e7eb] bg-gray-100"
            placeholder="Your message for me"
          ></textarea>
        </div>
        <div class="mb-4">
          <button
            type="submit"
            [disabled]="!form.valid"
            class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <div
      class="flex flex-col gap-24 max-500:gap-16 max-768:gap-16 max-1200:gap-16 bg-white rounded-3xl p-5"
    >
      <div class="flex flex-col gap-3">
        <a
          href="https://www.linkedin.com/in/mihai-rodel-dimulete-23b368282/"
          target="_blank"
        >
          <button
            class="rounded-md px-4 py-2 text-lg text-left hover:text-white hover:bg-gradient-to-r from-[rgb(109,147,176)] to-[rgb(109,213,237)] text-gray-500 font-medium w-[250px] bg-gray-100 max-500:w-[140px] max-500:text-sm max-500:mb-3"
          >
            LinkedIn
          </button></a
        >

        <a href="https://www.instagram.com/rodelmihai/" target="_blank">
          <button
            class="rounded-md px-4 py-2 text-lg text-left hover:text-white hover:bg-gradient-to-r from-[rgb(157,80,187)] to-[rgb(110,72,170)] text-gray-500 font-medium w-[250px] bg-gray-100 max-500:w-[140px] max-500:text-sm max-500:mb-3"
          >
            Instagram
          </button></a
        >
        <a (click)="openWhatsApp()" target="_blank">
          <button
            class="rounded-md px-4 py-2 text-lg text-left hover:text-white hover:bg-gradient-to-r from-[rgb(17,153,142)] to-[rgb(56,239,125)] text-gray-500 font-medium w-[250px] bg-gray-100 max-500:w-[140px] max-500:text-sm max-500:mb-3"
          >
            WhatsApp
          </button></a
        >
      </div>
      <div class="flex justify-center">
        <button
          (click)="copyEmail()"
          class="rounded-md px-4 py-2 flex justify-center text-xl text-white w-[200px] gap-1 bg-[#0064ff] max-500:w-[140px] max-500:text-sm max-500:mb-3"
        >
          Copy my email
        </button>
      </div>
    </div>
  </div>
</div>
