<div class="flex flex-col pl-32 pr-32 p-20">
  <div class="text-5xl font-bold mb-32 p-3">About me</div>
  <div
    class="grid grid-cols-[1fr_0.5fr_0.5fr] grid-rows-1 gap-6 max-768:grid-cols-1"
  >
    <div class="card-box-shadow p-8 rounded-3xl max-w-[600px]">
      I am a student at the Faculty of Cybernetics, Statistics and Economic
      Informatics - Economic Informatics profile at the Bucharest Academy of
      Economic Studies and I am looking for an opportunity to apply and develop
      my skills as a programmer. I have a passion for programming and I am
      willing to join an IT company where I can develop both professionally and
      socially. I like to meet new people and exchange experiences with them.
      I'm sure I would fit into a team without any problems.
    </div>
    <div class="card-box-shadow p-8 rounded-3xl max-w-[600px]">
      I am a student at the faculty of Cybernetics, Statistics and Informatics
      Economic - Economic Informatics profile within the Academy of economic
      studies from Bucharest and I am looking for an opportunity to apply and
      develop my front-end developer skills. I have a passion for programming
      and I am willing to join an IT company where I can contribute my knowledge
      and learn in an environment dynamic and innovative.
    </div>
    <div class="card-box-shadow p-8 rounded-3xl max-w-[600px]">
      I am a student at the faculty of Cybernetics, Statistics and Informatics
      Economic - Economic Informatics profile within the Academy of economic
      studies from Bucharest and I am looking for an opportunity to apply and
      develop my front-end developer skills. I have a passion for programming
      and I am willing to join an IT company where I can contribute my knowledge
      and learn in an environment dynamic and innovative.
    </div>
  </div>
</div>
