<div class="p-20 pl-32 pr-32 max-500:p-2 max-500:mt-5 max-768:p-4 max-768:mt-8">
  <div class="p-3">
    <a class="text-gray-500 text-2xl font-semibold">Projects</a>
    <p class="text-5xl font-bold pt-4">A preview of my projects</p>
  </div>
  <div
    class="grid grid-cols-2 max-768:grid-cols-1 max-500:grid-cols-1 p-20 gap-20 max-500:gap-7 max-500:p-5 max-768:p-10 max-768:gap-9"
  >
    <div class="flex justify-center group max-768:mt-12 max-500:mt-12">
      <div
        class="absolute flex items-start opacity-0 md:group-hover:opacity-100 transition-opacity -translate-y-8"
      >
        <p
          class="text-lg bg-gray-600 rounded-full w-auto px-4 py-2 text-white max-768:text-base"
        >
          Laragigs
        </p>
      </div>
      <a href="https://github.com/rodelmihaid?tab=repositories" target="_blank">
        <!-- target="_blank" deschide pagina noua -->
        <img
          class="w-auto h-80 rounded-2xl max-768:h-40 mt-5"
          src="../../../assets/laragigs.jpg"
          alt=""
      /></a>
    </div>
    <div class="flex justify-center group max-768:mt-12 max-500:mt-12">
      <div
        class="absolute flex items-start opacity-0 group-hover:opacity-100 transition-opacity -translate-y-8"
      >
        <p
          class="text-lg bg-gray-600 rounded-full w-auto px-4 py-2 text-white max-768:text-base"
        >
          Ecommerce
        </p>
      </div>
      <a href="https://github.com/rodelmihaid?tab=repositories" target="_blank">
        <img
          class="w-auto h-80 rounded-2xl max-768:h-40 mt-5"
          src="../../../assets/ecommerce.png"
          alt=""
        />
      </a>
    </div>
    <div class="flex justify-center group max-768:mt-12 max-500:mt-12">
      <div
        class="absolute flex items-start opacity-0 md:group-hover:opacity-100 transition-opacity -translate-y-8"
      >
        <p
          class="text-lg bg-gray-600 rounded-full w-auto px-4 py-2 text-white max-768:text-base"
        >
          Add employee app
        </p>
      </div>
      <a href="https://github.com/rodelmihaid?tab=repositories" target="_blank">
        <!-- target="_blank" deschide pagina noua -->
        <img
          class="w-auto h-80 rounded-2xl max-768:h-40 mt-5"
          src="../../../assets/screen1.png"
          alt=""
      /></a>
    </div>
    <div class="flex justify-center group max-768:mt-12 max-500:mt-12">
      <div
        class="absolute flex items-start opacity-0 group-hover:opacity-100 transition-opacity -translate-y-8"
      >
        <p
          class="text-lg bg-gray-600 rounded-full w-auto px-4 py-2 text-white max-768:text-base"
        >
          Bachelor Thesis
        </p>
      </div>
      <a href="https://github.com/rodelmihaid?tab=repositories" target="_blank">
        <img
          class="w-auto h-80 rounded-2xl max-768:h-40 mt-5"
          src="../../../assets/screen2.png"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
