<div class="p-20">
  <ul class="flex items-center flex-col content-between gap-8 mt-10">
    <li>
      <img src="../../../assets/eu.jpg" class="w-40 h-40 rounded-full" />
    </li>
    <li class="text-2xl text-gray-600 max-500:text-lg">Dimulete Rodel Mihai</li>

    <li class="font-bold text-7xl md:text-2xl">Full Stack Web Developer</li>
    <li class="max-w-[450px] text-center text-gray-600 max-500:text-base">
      I am very curious and hungry to constantly learn. I strive to always
      improve myself and the work that I do by researching new technologies and
      workflows
    </li>
    <li>
      <button class="rounded-3xl text-white text-lg bg-blue-600 p-3">
        Find out more
        <mat-icon class="pt-1.5">arrow_right_alt</mat-icon>
      </button>
    </li>
  </ul>
</div>
