<div
  class="p-20 pl-32 pr-32 bg-gray-100 max-500:p-2 max-500:mt-5 max-768:p-4 max-768:mt-8"
>
  <div class="p-3">
    <a class="text-gray-500 text-2xl font-semibold">Skills</a>
    <p class="text-5xl font-bold pt-4">
      What I use to turn an ideea into reality
    </p>
  </div>
  <div
    class="flex flex-col card-box-shadow rounded-3xl bg-white m-20 max-500:m-1 max-768:m-1 max-1200:m-1 max-1200:mt-5"
  >
    <div class="text-black font-bold text-xl text-center py-6 max-500:text-lg">
      Languages
    </div>
    <div
      class="grid grid-cols-5 px-10 py-5 gap-20 max-500:grid-cols-2 max-500:gap-4 max-500:px-1 max-500:py-1 max-500:p-5 max-768:grid-cols-2 max-768:p-6 max-768:gap-6 max-1200:gap-8 max-1200:grid-cols-2 max-1200:p-2"
    >
      <div class="flex flex-col justify-center items-center">
        <div>
          <img
            class="w-[80px] h-[80px] max-w-[80px] max-h-[89px]"
            src="../../../assets/skills/ts.jpg"
          />
        </div>
        <div class="mt-5 font-semibold text-base text-gray-400">TypeScript</div>
      </div>
      <div class="flex flex-col justify-center items-center">
        <div>
          <img
            class="w-[80px] h-[80px] max-w-[80px] max-h-[89px]"
            src="../../../assets/skills/js.jpg"
          />
        </div>
        <div class="mt-5 font-semibold text-base text-gray-400">JavaScript</div>
      </div>
      <div class="flex flex-col justify-center items-center">
        <div>
          <img
            class="w-[80px] h-[80px] max-w-[80px] max-h-[80px]"
            src="../../../assets/skills/php3.jpg"
          />
        </div>
        <div class="mt-5 font-semibold text-base text-gray-400">PHP</div>
      </div>
      <div class="flex flex-col justify-center items-center">
        <div>
          <img
            class="w-[80px] h-[80px] max-w-[80px] max-h-[80px]"
            src="../../../assets/skills/html.jpg"
          />
        </div>
        <div class="mt-5 font-semibold text-base text-gray-400">Html</div>
      </div>
      <div class="flex flex-col justify-center items-center">
        <div>
          <img
            class="w-[80px] h-[80px] max-w-[80px] max-h-[89px]"
            src="../../../assets/skills/css.jpg"
          />
        </div>
        <div class="mt-5 font-semibold text-base text-gray-400">CSS</div>
      </div>
    </div>
  </div>
  <div
    class="grid grid-rows-2 gap-5 m-20 max-500:m-1 max-500:grid-cols-2 max-768:m-1 max-768:grid-cols-2 max-1200:grid-cols-2 max-1200:m-1 max-1200:mt-5"
  >
    <div
      class="grid gap-5 grid-cols-[1fr_0.5fr] max-500:grid-cols-1 max-768:grid-cols-1 max-1200:grid-cols-1"
    >
      <div class="flex flex-col card-box-shadow rounded-3xl bg-white">
        <div class="text-black font-bold text-xl text-center py-6">
          Frameworks
        </div>
        <div
          class="grid grid-cols-3 px-10 mb-4 gap-5 max-500:grid-cols-1 max-500:gap-3 max-500:p-5 max-768:grid-cols-1 max-768:p-6 max-768:gap-9 max-1200:gap-10 max-1200:grid-cols-1 max-1200:p-10"
        >
          <div class="flex flex-col justify-center items-center">
            <div>
              <img
                class="w-[80px] h-[80px] max-w-[80px] max-h-[80px]"
                src="../../../assets/skills/laravel.jpg"
              />
            </div>
            <div class="mt-5 font-semibold text-base text-gray-400">
              Laravel
            </div>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div>
              <img
                class="w-[80px] h-[80px] max-w-[80px] max-h-[80px]"
                src="../../../assets/skills/angular.jpg"
              />
            </div>
            <div class="mt-5 font-semibold text-base text-gray-400">
              Angular
            </div>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div>
              <img
                class="w-[80px] h-[80px] max-w-[80px] max-h-[89px]"
                src="../../../assets/skills/tw.jpg"
              />
            </div>
            <div class="mt-5 font-semibold text-base text-gray-400">
              TailWind
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col card-box-shadow rounded-3xl bg-white">
        <div class="text-black font-bold text-xl text-center py-6">
          Collaborative Work
        </div>
        <div
          class="grid grid-cols-1 px-10 mb-4 gap-5 max-500:grid-cols-1 max-500:gap-3 max-500:p-5 max-768:grid-cols-1 max-768:p-6 max-768:gap-9 max-1200:gap-10 max-1200:grid-cols-1 max-1200:p-10"
        >
          <div class="flex flex-col justify-center items-center">
            <div>
              <img
                class="w-[80px] h-[80px] max-w-[80px] max-h-[80px]"
                src="../../../assets/skills/github.jpg"
              />
            </div>
            <div class="mt-5 font-semibold text-base text-gray-400">GitHub</div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="grid gap-5 grid-cols-2 max-500:grid-cols-1 max-768:grid-cols-1 max-1200:grid-cols-1"
    >
      <div class="flex flex-col card-box-shadow rounded-3xl bg-white">
        <div class="text-black font-bold text-xl text-center py-6">
          Server Sides
        </div>
        <div
          class="grid grid-cols-2 px-10 mb-4 gap-5 max-500:grid-cols-1 max-500:gap-3 max-500:p-5 max-768:grid-cols-1 max-768:p-6 max-768:gap-9 max-1200:gap-10 max-1200:grid-cols-1 max-1200:p-10"
        >
          <div class="flex flex-col justify-center items-center">
            <div>
              <img
                class="w-[80px] h-[80px] max-w-[80px] max-h-[89px]"
                src="../../../assets/skills/sql.jpg"
              />
            </div>
            <div class="mt-5 font-semibold text-base text-gray-400">SQL</div>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div>
              <img
                class="w-[80px] h-[80px] max-w-[80px] max-h-[80px]"
                src="../../../assets/skills/firebase.jpg"
              />
            </div>
            <div class="mt-5 font-semibold text-base text-gray-400">
              Firebase
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col card-box-shadow rounded-3xl bg-white">
        <div class="text-black font-bold text-xl text-center py-6">
          Code Editors
        </div>
        <div
          class="grid grid-cols-2 px-10 mb-4 gap-5 max-500:grid-cols-1 max-500:gap-3 max-500:p-5 max-768:grid-cols-1 max-768:p-6 max-768:gap-9 max-1200:gap-10 max-1200:grid-cols-1 max-1200:p-10"
        >
          <div class="flex flex-col justify-center items-center">
            <div>
              <img
                class="w-[80px] h-[80px] max-w-[80px] max-h-[80px]"
                src="../../../assets/skills/vscode.jpg"
              />
            </div>
            <div class="mt-5 font-semibold text-base text-gray-400">VSCode</div>
          </div>
          <div class="flex flex-col justify-center items-center">
            <div>
              <img
                class="w-[80px] h-[80px] max-w-[80px] max-h-[80px]"
                src="../../../assets/skills/IntelliJ_IDEA_Icon.svg.png"
              />
            </div>
            <div class="mt-5 font-semibold text-base text-gray-400">
              IntelliJ
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
