<div class="flex justify-center items-center py-10">
  <div
    class="p-4 mt-4 rounded-3xl z-1 fixed opacity-90 bg-white"
    style="
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.22),
        0 5px 14px 0 rgba(0, 0, 0, 0.18);
    "
  >
    <div class="flex items-center gap-7 max-500:gap-2">
      <div
        class="gap-7 text-black text-lg font-bold cursor-pointer hover:text-gray-500 max-500:text-[10px]"
      >
        <mat-icon class="mt-2" (click)="scrollUp()">home</mat-icon>
      </div>
      <div
        class="gap-7 text-black text-lg font-bold cursor-pointer hover:text-gray-500 max-500:text-[10px]"
        (click)="scrollToAbout()"
      >
        About me
      </div>
      <div
        class="gap-7 text-black text-lg font-bold cursor-pointer hover:text-gray-500 max-500:text-[10px]"
        (click)="scrollToPortofolio()"
      >
        Portofolio
      </div>
      <div
        (click)="scrollToSkills()"
        class="gap-7 text-black text-lg font-bold cursor-pointer hover:text-gray-500 max-500:text-[10px]"
      >
        Skills
      </div>
      <div
        (click)="scrollToCV()"
        class="gap-7 text-black text-lg font-bold cursor-pointer hover:text-gray-500 max-500:text-[10px]"
      >
        Resume
      </div>
      <div
        class="gap-7 text-black text-lg font-bold cursor-pointer hover:text-gray-500 max-500:text-[10px]"
      >
        Contact
      </div>
    </div>
  </div>
</div>
<app-description id="up"></app-description>
<app-expertise id="aboutMe"></app-expertise>
<app-projects id="portofolio"></app-projects>
<app-skills id="skills"></app-skills>
<app-cv id="cv"></app-cv>
<app-contact id="contact"></app-contact>
